@use "./variables" as *;

$colors: (
  uno: (
    base: $uno,
    ligth: lighten($uno, $lighten),
    dark: darken($uno, $darken),
  ),
  dos: (
    base: $dos,
    ligth: lighten($dos, $lighten),
    dark: darken($dos, $darken),
  ),
  tres: (
    base: $tres,
    ligth: lighten($tres, $lighten),
    dark: darken($tres, $darken),
  ),
  cuatro: (
    base: $cuatro,
    ligth: lighten($cuatro, $lighten),
    dark: darken($cuatro, $darken),
  ),
  cinco: (
    base: $cinco,
    ligth: lighten($cinco, $lighten),
    dark: darken($cinco, $darken),
  ),
);
